@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300italic');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
}

a, .main-section p {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
  
ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header { 
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: #f9faf8;
    padding-top: 15px;
    align-items: center;
}

.left {
    font-size: 24px;
    font-weight: 800;
}

/* ======================= */


h1 {
    font-size: 48px;
    font-weight: 800;
} 

.main-section {
    display: flex;
    padding-left: 215px;
    padding-right: 215px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1F2937;
    color: #f9faf8;
    gap: 100px;
}

.left-main {
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 15px;
    align-items: flex-start;
}

.right-main {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.image {
    display: flex;
    background-color: rgb(145, 145, 145);
    align-items: center;
    justify-content: center;
    width: 450px;
    max-width: 450px;
    
}

.sign-up-btn {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    padding: 10px 40px;
    font-weight: 800;
}

/* ======================= */

.information {
    display: flex;
    flex-direction: column;
    padding-bottom: 175px;
}

.info-title {
   align-self: center;
}

.info-images {
    display: flex;  
    align-self: center;
    flex-direction: row;
    gap: 125px;
    flex-wrap : wrap;
}

.image-1, .image-2, .image-3, .image-4 {
    border-color: #3882f6;
    width: 170px;
    height: 170px;
    border-style: solid;
    border-radius: 10px;
}

.info-title p {
    padding: 65px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.image-1 p, .image-2 p, .image-3 p, .image-4 p {
    text-align: center;
    padding-top: 195px;
    font-size: 18px;
    color: #8f9093;
}

/* ======================= */

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    padding: 100px 0;
    gap: 40px;
}

.quote-text p{
    font-size: 36px;
    font-style: italic;
    font-family: 'Source Sans Pro';
    text-align: center;
    max-width: 1000px;
}

.quote-signature {
    font-size: 20px;
    width: 1000px;
    max-width: 1000px;
    text-align: right;
}


/* ======================= */

.cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px 0px;
}

.cta-body {
    display: flex;
    background-color:#3882f6;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    width: 1300px;
    border-radius: 10px;
    gap: 150px;
    flex-wrap : wrap;
}

h3 {
    color: #f9faf8;
    font-size: 24px;
}

.text p {
    color: #e5e7eb;
    font-weight: 100;
}

.cta-btn {
    border-radius: 10px;
    border: 2px solid #e5e7eb;
}

.cta-btn p {
    color: #f9faf8;
    font-weight: 800;
    padding: 10px 40px;
}

/* ======================= */

.footer {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: #1f2937;
}

.footer p {
    color: #f9faf8;
}